/* For license and copyright information please see LEGAL file in repository */

article#presentation-preferences {
    position: relative;
    max-width: 600px;
    text-align: center;
    padding: 2%;
    margin: 1% auto;
    left: 0;
    right: 0;
}