/* For license and copyright information please see LEGAL file in repository */

dialog#forceLeavePageDialog {
    position: fixed;
    max-width: 600px;
    text-align: center;
    margin: 1% auto;
    left: 0;
    right: 0;
    top: 0;
}